/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-family: "Whitney", sans-serif;
  min-width: 850px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

p {
  line-height: 1.5;
}

header {
  height: 650px;
  position: relative;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 1.3rem 0;
}

header ul li {
  display: inline-block;
  margin-right: 1.5rem;
}

li {
  list-style-type: none;
}

button {
  display: inline-block;
  background-color: white;
  border: none;
  padding: 0.8rem 1rem;
  border-radius: 2rem;
  font-weight: bold;
}

/* Classes - Utilities */

.container {
  width: 60%;
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-middle {
  vertical-align: middle;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mb2 {
  margin-bottom: 2rem;
}

.mr1-5 {
  margin-right: 1.5rem;
}

.btn-black {
  color: white;
  background-color: #23272a;
}

/* Classes */

/* ID */

#jumbo {
  width: 90%;
  max-width: 600px;
}
