/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-family: "Whitney", sans-serif;
  min-width: 850px;
  color: #23272a;
}

h1,
h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: bold;
}

p {
  line-height: 1.5;
}

li {
  list-style-type: none;
}

header {
  height: 650px;
  position: relative;
  background-image: url("../img/jumbo.png");
  background-size: cover;
  color: white;
  text-align: center;
  padding: 1.3rem 0;
}

header ul li {
  display: inline-block;
  margin-right: 1.5rem;
  padding-top: 0.5rem;
}

footer {
  color: white;
  background-color: #23272a;
}

footer img {
  width: 20px;
  margin-right: 0.2rem;
}

footer nav {
  display: inline-block;
  vertical-align: top;
}

footer nav ul li {
  margin-bottom: 1rem;
}

footer nav ul li:nth-child(1) {
  font-weight: bold;
  color: #8ea1e1;
}

footer h3 {
  color: #8ea1e1;
}

button {
  display: inline-block;
  background-color: white;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 2rem;
  font-size: 0.7rem;
  font-weight: bold;
  box-shadow: 1px 1px 5px #23272a;
}

/* Classes */

.container {
  width: 70%;
  max-width: 1000px;
  min-width: 800px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vertical-middle {
  vertical-align: middle;
}

.img100 {
  width: 100%;
}

.inline-block {
  display: inline-block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.mb2 {
  margin-bottom: 2rem;
}

.mr-5 {
  margin-right: 0.5rem;
}

.mr1-5 {
  margin-right: 1.5rem;
}

.p8 {
  padding: 8rem 0;
}

.btn-black {
  color: white;
  background-color: #23272a;
}

.btn-lavander {
  color: white;
  background-color: #8ea1e1;
  box-shadow: none;
}

.btn-big {
  padding: 0.9rem 1.2rem;
  font-size: 0.9rem;
}

.inner-section-big {
  width: 60%;
}

.inner-section-small {
  width: 35%;
}

.bg-grey {
  background-color: #f6f6f6;
}

.text-center {
  text-align: center;
}

.inner-footer-big {
  width: 70%;
}

.inner-footer-big .w25 {
  width: 24%;
}

.inner-footer-small {
  width: 30%;
}

/* ID */

#jumbo {
  width: 90%;
  max-width: 600px;
}
