/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global */

body {
  font-family: "Whitney", sans-serif;
}

header {
  background-image: url("../img/jumbo.png");
  color: white;
}

li {
  list-style-type: none;
}

/* Classes - Utilities */

.container {
  width: 80%;
  margin: 0 auto;
}

/* Classes */
